/* font-family: 'Rancho', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Plus Jakarta Sans', sans-serif; */

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
}

.background-img {
    flex: 1;
    background-image: url(/asset/image/Rectangle\ 289.png);
    background-position: center;
    background-size: cover;
}

.form {
    flex: 2;
    /* background-color: lightblue; */
}

.item-1 {
    /* background-color: lightcoral; */
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-top: 60px;
}

.item-1 h2 {
    color: #8E6447;
    font-family: 'Sacramento', cursive;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 15px;
}

.form-register {
    /* background-color: lightcyan; */
    padding: 0px 70px 100px 70px;
}

.form-register h2 {
    margin-top: 40px;
    color: #8E6447;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.form-register h3 {
    color: #4F5665;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 25px;
}

label {
    color: #0B132A;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 100px;
}

input {
    border-radius: 8px;
    border: 1px solid;
    width: 690px;
    background-color: #FCFDFE;
    display: flex;
    padding: 14px 13px;
    align-items: center;
}

.container-profil {
    margin-bottom: 25px;
}

input[type="text"] {
    margin-top: 15px;
    padding-left: 40px;
    color: #4F5665;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.75px;
}

.logo-profil {
    position: absolute;
    padding-top: 50px;
    margin-left: -60px;
}

.container-email {
    margin-bottom: 25px;
}

input[type="email"] {
    margin-top: 15px;
    padding-left: 40px;
    color: #4F5665;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.75px;
}

.logo-email {
    position: absolute;
    padding-top: 55px;
    margin-left: -30px;
}

.container-password {
    margin-bottom: 25px;
}

input[type="password"] {
    margin-top: 15px;
    padding-left: 40px;
    color: #4F5665;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.75px;
}

.logo-password1 {
    position: absolute;
    padding-top: 55px;
    margin-left: -60px;
}

.logo-password2 {
    position: absolute;
    padding-top: 55px;
    margin-left: 640px;
}

.logo-password3 {
    position: absolute;
    padding-top: 55px;
    margin-left: -125px;
}

.logo-password4 {
    position: absolute;
    padding-top: 55px;
    margin-left: 575px;
}

.button-registrasi {
    width: 750px;
    margin-bottom: 10px;
    border: none;
    height: 50px;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    background: #FF8906;

    color: #0B132A;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 1000;
    line-height: 20px;
}

.opsi-login p {
    /* background-color: lightcoral; */
    width: 750px;
    text-align: center;
    color: #4F5665;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.opsi-login a {
    margin-left: 10px;
    color: #FF8906;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.item-or {
    display: flex;
    height: 50px;
    width: 750px;
    /* background-color: lightsalmon; */
    justify-content: space-between;
    align-items: center;
}

.custom-line1 {
    background: #DEDEDE;
    width: 310px;
    height: 0.5px;
}

.custom-line2 {
    background: #DEDEDE;
    width: 312px;
    height: 0.5px;
}

.item-account {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    /* width: 383px;
height: 64px;
border-radius: 16px;
background: #FFF;
box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08); */
}

.facebook {
    width: 370px;
    height: 64px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);
    border: none;

    color: #4F5665;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.09px;
}

.logo-facebook {
    position: absolute;
    margin-top: 18px;
    margin-left: 100px;

}

.google {
    width: 370px;
    height: 64px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);
    border: none;

    color: #4F5665;
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.09px;
}

.logo-google {
    position: absolute;
    margin-top: 18px;
    margin-left: 500px;
}