/* font-family: 'Rancho', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Plus Jakarta Sans', sans-serif;
font-family: 'Rubik', sans-serif;
cursor:pointer; */

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    background: #0B0909;
    width: 100%;
    height: 75px;
    /* margin-top: -100px; */
    /* position: fixed; */
}

nav>.navbar {
    display: flex;
    flex: 1;
}

nav>.navbar {
    display: flex;
    gap: 60px;
    align-items: center;
}

nav>.navbar>.item {
    display: flex;
    gap: 15px;
    margin-left: 90px;
}

nav>.navbar>.item>div {
    color: #FFF;
    font-family: 'Sacramento', cursive;
    font-size: 20px;
    font-weight: 400;
}

nav>.navbar>div>a {
    color: #FFF;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 1px;
    border-color: transparent;
    border-style: solid;
    padding-bottom: 5px;
}

nav>.navbar>div>a:hover {
    border-color: #FF8906;
}

nav>form {
    display: flex;
    flex: 1;
    justify-content: end;
    gap: 20px;
    align-items: center;
    margin-right: 90px;
}

nav>form>.item {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav>form>.transparan>button {
    border-radius: 5px;
    border: 1px solid #FFF;
    background: transparent;
    color: #FFF;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 18px;
    cursor: pointer;
}

nav>form>div>button {
    border-radius: 5px;
    background: #FF8906;
    color: #0B132A;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 18px;
    border-style: none;
    cursor: pointer;
}

#checkout{
    display: flex;
    height: 100vh;
    /* justify-content: center;
    align-items: center; */
    background-color: lightblue;
}
#checkout>.container{
display: flex;
flex-direction: column;
}
#checkout>.container>.title{}
#checkout>.container>.wrapper{
    display: flex;
    gap: 10px;
    width: 1000px;
    /* background-color: lightgreen; */

}
#checkout>.container>.wrapper>.detail>div{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}
#checkout>.container>.wrapper>.detail>div>.order{
    display: flex;
    flex-direction: column;
}
#checkout>.container>.wrapper>.detail>div>.order>.box1{
    display: flex;
    justify-content: space-between;
}
#checkout>.container>.wrapper>.detail>div>.order>.box2{
    display: flex;
    flex-direction: column;
}
#checkout>.container>.wrapper>.detail>div>.order>.box2>.container{
    display: flex;
    justify-content: space-between;
}
#checkout>.container>.wrapper>.detail>div>.order>.box2>.container>.wrapper{
    display: flex;
flex-direction: column;
}
#checkout>.container>.wrapper>.detail>div>.order>.box2>.container>.wrapper>.detail{
    display: flex;
}
#checkout>.container>.wrapper>.detail>div>.order>.box2>.container>.wrapper>.price{
    display: flex;
}
#checkout>.container>.wrapper>.total{
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
}
#checkout>.container>.wrapper>.total>.container{
    display: flex;
    flex-direction: column;
}
#checkout>.container>.wrapper>.total>.container>.box{
    display: flex;
    justify-content: space-between;
}
#checkout>.container>.wrapper>.total>.container>.button>div>button{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-style: none;
}
#checkout>.container>.wrapper>.total>.container>.payment{
    display: flex;
    justify-content: space-between;
}


footer{
    display: flex;
    background: #F8F8F8;
    /* background-color: lightblue; */
    height: 50vh;
    margin-top: 200px;
    padding-top: 50px;
    justify-content: space-around;

}
footer>.container{
    display: flex;
    flex-direction: column;
    width: 340px;
    gap: 25px;
    /* background-color: lightcoral; */
}
footer>.container>.title{
    display: flex;
    align-items: center;
    gap: 15px;
}
footer>.container>.title>div{
    color: #8E6447;
    font-family: 'Sacramento', cursive;
    font-size: 20px;
    font-weight: 400;
}
footer>.container>div{
    color: #4F5665;
font-family: Plus Jakarta Sans;
font-size: 16px;
font-weight: 400;
}
footer>.container>.copyright{
    color: #AFB5C0;
    font-family: 'Rubik', sans-serif;
font-size: 16px;
font-weight: 400;
margin-top: 15px;
}
footer>.container1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: lightcoral; */
}
footer>.container1>.title{
    color: #0B132A;
font-family: Plus Jakarta Sans;
font-size: 18px;
font-weight: 500;
margin-bottom: 10px;
}
footer>.container1>div>a{
    text-decoration: none;
    color: #4F5665;
font-family: Plus Jakarta Sans;
font-size: 16px;
font-weight: 400;
}
footer>.container1>div>a:hover{
    color:#FF8906;
}
footer>.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
footer>.container2>.title{
    color: #0B132A;
font-family: Plus Jakarta Sans;
font-size: 18px;
font-weight: 500;
margin-bottom: 10px;
}
footer>.container2>.box{
    display: flex;
}
footer>.container2>div>a{
    text-decoration: none;
    color: #4F5665;
font-family: Plus Jakarta Sans;
font-size: 16px;
font-weight: 400;
}



